body {
  background-image: url('./img/Sonic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#leaderbord {
  display: flex;
  justify-content: center;
  font-size: 64px;
}

#sections {
  display: flex;
  justify-content: space-around;
}

.row {
  display: flex;
  align-items: center;
}

.subtitle {
  font-size: 52px;
  margin: 0;
}

#addScore {
  display: flex;
  flex-direction: column;
}

#refreshBtn {
  font-size: 24px;
  margin-left: 48px;
  padding: 8px 24px;
  border: 4px solid rgb(33, 209, 54, 0.7);
  background-color: transparent;
}

input {
  border: 4px solid rgb(33, 209, 54, 0.7);
  background-color: rgb(59, 59, 248, 0.8);
  color: rgb(255, 253, 253);
  margin-top: 48px;
  font-size: 30px;
  padding: 8px 16px;
}

#submitBtn {
  width: fit-content;
  align-self: flex-end;
}

form {
  width: 380px;
}

#scoresLeaderboard {
  border: 6px solid rgb(33, 209, 54, 0.7);
  margin-top: 48px;
  height: 280px;
  width: 360px;
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(33, 209, 54, 0.7);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(189, 22, 22);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(27, 155, 48,);
}

::placeholder {
  color: rgb(255, 253, 253);
}

h4 {
  margin: 0;
}

.scoreDiv {
  padding: 12px 0 12px 12px;
  font-size: 28px;
  color: rgb(255, 253, 253);
  background-color: rgb(59, 59, 248, 0.8);
}

.scoreDiv:nth-child(odd) {
  color: rgb(35, 35, 249);
  background-color: rgb(242, 254, 16);
}
